/* Esta es la barra de navegación */
.navbar {
    background-color: #2d0023;
    display: flex;
}

.navegador a {
    display: block;
    color: rgb(249, 251, 196);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navegador a:hover {
    background-color: #575757;
    color: #f276e69b;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Opcional: Centra el texto en el contenido */
    margin: 0;
    min-height: 100vh;
    /* Asegura que el contenido esté centrado verticalmente */
    background-color: black;
    color: beige;
}

ul {
    list-style-position: inside;
    /* Coloca las viñetas dentro del contenedor del li para que este pegado al texto*/
}

h1 {
    font-size: 53px;
}

h2 {
    font-size: 35px;
}

li {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
}

a:hover {
    color: burlywood;
    font-size: 40px;
}

img {
    /* Las imagenes cambiaron de tamaño */
    width: 175px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

img:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    transform: scale(150%);
    /* Escala la imagen al pasar el cursor */
}

p {
    text-align: left;
    font-size: 23px;
}

img.imgOP {
    /* imagen de One Piece de otro tamaño */
    width: 250px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.imgOP:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    transform: scale(150%);
    /* Escala la imagen al pasar el cursor */
}


/* los gifs no tendran hovers */
img.no-hover {

    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    /* Ajusta este valor según el tamaño deseado */
    height: auto;
    /* Mantiene la proporción */
}

img.no-hover:hover {
    transform: none;
    /* Escala la imagen al pasar el cursor */
}

/* botton desplazar */

.scrollSubir {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background-color: #4ca5d8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 22px 17px;

    /* Elimina el subrayado del enlace */
}

.scrollSubir:hover {
    background-color: #d038fa;

}

/* Mostrar el botón cuando se hace scroll hacia abajo */
/* 
   body: Selecciona el elemento <body>.
:has(:not(:root)): Selecciona el <body> solo si contiene al menos un elemento que no sea el elemento raíz (<html>).
:not(:root): Selecciona cualquier elemento que no sea el elemento raíz (<html>). Esto normalmente incluye todos los elementos dentro del <body>.
*/
body:has(:not(:root)) .scrollSubir {
    display: block;
    opacity: 1;
}

/* Ajustar el documento en otras pantallas */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .navegador a {
        padding: 10px;
        font-size: 1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    li {
        font-size: 1.2em;
    }
}
